





body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    .amaranth-regular {
      font-family: "Amaranth", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .amaranth-bold {
      font-family: "Amaranth", sans-serif;
      font-weight: 700;
      font-style: normal;
    }

    .amaranth-regular-italic {
      font-family: "Amaranth", sans-serif;
      font-weight: 400;
      font-style: italic;
    }

    .amaranth-bold-italic {
      font-family: "Amaranth", sans-serif;
      font-weight: 700;
      font-style: italic;
    }    
}




#matriz{
    background-color: white;
    width: 500px;
    height: 300px;
    display: inline-block;
    margin: 10%;
}




#cabecera{
    width: 98%;
    height: 25%;
    padding: 0px 0px;
    display: inline-flex;    
}




#textoCabecera{
    width: 60%;
    height: 98%;
    float: left;
    margin: 20px;
}




h1{
    font-size: 1.2em;
}




#fotoCabecera{
    float: right;
    padding: 8% 0;
    
    width: 30%;
    height: 10%;
    background-image:url('http://storage.googleapis.com/breathecode-asset-images/5318bde604cf5c915f94897a71b49ab2523101322ea21cb046db1e67c24fa3be.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}




#contenedor{
    width: 98%;
    height: 60%;
    display: flex;
}




#textoContenedor{
    width: 60%;
    height: 98%;
    margin: 0px 20px;
}




#textoParrafo{
    font-size: .8em;
    text-align: justify;
}




#cuadros{
   width: 80%;
   height: 98%;
   display: box;
    
}




.cuadroTexto{
    font-size: .8em;
    width: 90%;
    height: 15%;
    float: right;
    margin-block: 5%;
}




#botonera{
   width: 98%;
   height: 15%;
   display: flex;
   justify-content: center;
    
}




#boton{
    height: 80%;
}





